@media screen and (max-width: 600px) {

    h2{
        font-size: 3rem;
    }
        
    .menu_de_hamburguesa .opciones_menu{
        width: 75%;
    }

    .menu_de_hamburguesa .opciones_menu .option{
        font-size: 8vw;
    }

    .dish-image img{
        max-width: 45vw; 
    }
}