

@import url('movil.css');

/*---------Estilo general PC---------*/


body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background: #252323;

}



h1 {
    font-family: 'Italiana', serif;
    font-size: 4rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h2{
    font-family: 'Italiana', serif;
    font-size: 4rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h3{
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h4{
    font-family: 'Italiana', serif;
    font-size: 3rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;

}

p{
    font-family: 'Josefin Sans';
    font-size: 1.7rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;

}

/*---------Primera sección (home)---------*/

/*Nav bar*/
.top-bar{
    /* para que el filtro de fondo se vea por encima de los elementos */ 
    z-index: 7;
    position: fixed;

    background: linear-gradient(90deg,#B136C5 0%,#A73030 35%, #B06002 65%, #9F1616 100%); /* Morado-Rojo-Naranja */
    height: 10vh;
    width: 100%;
    /* Distribuir horizontalmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10vh 0px rgba(0,0,0,0.75);
}

.home-btn{
    margin-left: 2rem;
    font-family: 'Italiana', serif;
    font-size: 3rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.home-btn h1{
    margin: 0;
    padding: 0;
}


.home-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
}

.btn{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg,#8d79e07e 0%, #9167A0 60%, #B85F2C 100%);
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}
.btn:hover{
    background: linear-gradient(90deg,#8d79e07e 0%, #9167A0 60%, #B85F2C 100%);
    transform: scale(1.1);
    cursor: pointer;
    
}

.btn a{
    font-family: 'Italiana', serif;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    transition: all 0.3s ease;
}

.btn img{
    max-width: 100%;
    max-height: 95%;
    padding: 1rem 0.5rem;
}
/*end of nav bar*/
/*videos and logos*/
.videos-container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos-container .overlay-gradient{
    z-index: 2;
    position: absolute;
    opacity: 55%;
    width: 100%;
    height: 85vh;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 40%, #B06002 70%, #9F1616 80%);

}
.videos-container video,
.videos-container img {
    z-index: 1;
    width: 50%;
    height: 100%; /* Ocupar toda la altura de su columna */
    object-fit: cover; /* Ajustar el contenido para cubrir el contenedor */
    max-width: 100%;
}

.main-logo-container{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo-container img{
    position: absolute;
    width: auto;
    height: 50vh;
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
}
/*end of videos and logos*/

/*---------Secciones de home--------- */


.section-title-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 35%;
}
.section-title-container h2{
    text-align: center;
}

.text-section{
    display: flex;
    flex-direction: row;
    padding: 7%;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
}
.horizontal-line{
    width: 90%;
    height: 2vh;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 40%, #B06002 70%, #9F1616 80%);
    margin: 2rem 0;

}

.linea{
    width: 100%;
}

/*---------Sección de Menu diario--------- */
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;	
    width: auto;
}




.country-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.country-container h3{
    font-size: 6rem;
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: normal;
    background: linear-gradient(90deg, #B136C5 0%, #9F1616 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 7px transparent;
}
.country-container a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(90deg, #B136C5 0%, #db3f3f 90%);
    background-clip: text;/* añadido por compatibilidad */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    /* TODO FIXME: no se como hacer que se mantenga el underline*/
}
.dish-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.dish-image{
    padding: 2%;
    flex: 1;
    
}
.dish-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dish-description{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    flex: 1;
}