

/*---------Estilo general PC---------*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background: #252323;

}

h1 {
    font-family: 'Italiana', serif;
    font-size: 4rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h2{
    font-family: 'Italiana', serif;
    font-size: 4rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h3{
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
h4{
    font-family: 'Italiana', serif;
    font-size: 3rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;

}

p{
    font-family: 'Josefin Sans';
    font-size: 1.7rem;
    margin: 1rem;
    font-weight: normal;
    color: white;
    text-decoration: none;

}
img{
    border-radius: 20px;
}


/*---------Primera sección (home)---------*/

/*Nav bar*/
.top-bar{
    /* para que el filtro de fondo se vea por encima de los elementos */ 
    z-index: 7;
    position: fixed;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 35%, #B06002 65%, #9F1616 100%); /* Morado-Rojo-Naranja */
    height: 75px;
    width: 100%;
    /* Distribuir horizontalmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10vh 0px rgba(0,0,0,0.75);
}

.home-btn{
    margin-left: 1.5rem;
    font-family: 'Italiana', serif;
    font-size: 3rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.home-btn h1{
    margin: 0;
    padding: 0;
    font-size: min(100%, 10vw);
}
.home-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#menu_de_hamburguesa_container{
    display: none;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
}

.btn{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 35%, #B06002 65%, #9F1616 100%);
    box-shadow: inset 0 0 0 1px white;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: all 0.5s ease;
}
.btn:hover{
    background: linear-gradient(90deg,#8d79e07e 0%, #9167A0 60%, #B85F2C 100%);
    transform: scale(1.1);
    cursor: pointer;
    
}

.btn p{
    font-family: 'Italiana', serif;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    transition: all 0.3s ease;
}

.btn img{
    max-width: 70%;
    max-height: 70%;
    padding: 1rem 0.5rem;
    border-radius: 0px;
}
/*end of nav bar*/
/*videos and logos*/
.videos-container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos-container .overlay-gradient{
    z-index: 2;
    position: absolute;
    opacity: 55%;
    width: 100%;
    height: 85vh;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 40%, #B06002 70%, #9F1616 80%);

}
.videos-container video{
    z-index: 1;
    width: 50%;
    height: 100%; /* Ocupar toda la altura de su columna */
    object-fit: cover; /* Ajustar el contenido para cubrir el contenedor */
    max-width: 100%;
}

.videos-container img {
    z-index: 1;
    width: 50%;
    height: 100%; /* Ocupar toda la altura de su columna */
    object-fit: cover; /* Ajustar el contenido para cubrir el contenedor */
    max-width: 100%;
}

.main-logo-container{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo-container img{
    position: absolute;
    width: auto;
    height: 50vh;
    object-fit:scale-down;
    max-width: 100%;
    max-height: 100%;
}
/*end of videos and logos*/

/*---------Secciones de home--------- */


.section-title-container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 35%;
}
.section-title-container h2{
    text-align: center;
}

.text-section{
    display: flex;
    flex-direction: row;
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
}
.horizontal-line{
    width: 90%;
    height: 2vh;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 40%, #B06002 70%, #9F1616 80%);
    margin: 2rem 0;

}

.linea{
    width: 100%;
}

/*---------Sección de Menu diario--------- */
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;	
    width: auto;
}

.menu-section h2{
    text-align: center;
}

.country-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.country-container h3{
    font-size: 6rem;
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: normal;
    background: linear-gradient(90deg, #B136C5 0%, #9F1616 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 7px transparent;
}
.country-container a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    background: linear-gradient(90deg, #B136C5 0%, #db3f3f 90%);
    background-clip: text;/* añadido por compatibilidad */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    /* TODO FIXME: no se como hacer que se mantenga el underline*/
}
.dish-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.dish-image{
    padding: 2%;
    flex: 1;
}
.dish-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dish-description{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex: 1;
}

.menu-btn-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: auto;
    padding: 2%;

}

.menu-btn-container .btn2{
    font-size: 1.5rem;
    transition: all 0.3s ease;
    height: 5vh;
}


footer{
    min-height: 10vh;
    height: fit-content;
    background: linear-gradient(90deg,#B136C5 0%,#A73030 40%, #B06002 70%, #9F1616 80%);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding: 10px;

}


.footer-refs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* debe ocupar 2 columnas en la primera fila */
    grid-row: 1;
    grid-column: span 2; /* Hace que el elemento ocupe dos columnas */
    
}
.footer-refs a{
    font-size: max(1.3rem, 4vh);
    font-weight: normal;
    color: white;
    margin: 0.5rem;
}

.footer-img{
    justify-content: center;
    grid-row: 1;
    height: 15vh;
    display: flex;
    padding: 2px;
}

.footer-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.footer-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer-text{
    grid-row: 1;
    grid-column: span 4;
    justify-content: center;
}
.footer-text p{
    font-family: 'Italiana', serif;
    font-size: max(1.3rem, 4vh);
    font-weight: normal;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    text-align: center;
}

/*---------Estilo FAQ y PP---------*/

.text_container_faq_pp{
    background: #181a1b;
    border-radius: 10px;
    top: 14%;
    left: 10%;
    right: 10%;
    margin: 10%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text_container_faq_pp p{
    margin: 3%;
}

.background_2_faq{
    background: linear-gradient(160deg,#B136C5 0%,#A73030 40%, #B06002 70%, #A73030 90%);
    width: 85%;
    height: 90vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#back_faq{
    margin: 0.5%;
    border-color: #9167A0;
    top: 17%;
    bottom: 17%;
    padding: 20px;
    width:10%;
}

/*---------Estilo a-domicilio---------*/
.background_1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background_1 h1{
    font-size: 2rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

.background_2{
    background: linear-gradient(160deg,#B136C5 0%,#A73030 40%, #B06002 70%, #A73030 90%);
    height: 90vh;
    width: 85%;
    border-radius: 10px;
    position: relative;
}

.background_2 h1{
    font-size: 3rem;
}

.bar{
    height:8vh;
    width: 22%;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size:3.2rem;
}

.centered_stuff{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    top:30%;
    left: 20%;
    right: 20%;
}
.centered_stuff h3{
    font-size: 2rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.input{
    display: flex;
    width: 100%;
    padding: 18px;
    margin-bottom: 10px;
    background-color: #181a1b;
    color: #e8e6e3;
    opacity: 0.8;
    border:0;  
    border-radius: 8px;
    font-size: 15px;
    text-align: left; /* Alinear el texto a la izquierda */
}

.input:focus::placeholder{
    color: transparent;
}
.btn2{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13px;
    background: linear-gradient(90deg,#841296 0%, #a119b6 20%, #922020 75%);
    color: #e8e6e3;
    transition: all 0s ease;
    border-radius: 17px;
    margin-top: 10px;
}

.btn2:hover{
    background: #181a1b;
    /* box-shadow: 0 0 10px #951ba8, 0 0 40px #951ba8, 0 0 80px #951ba8; crea un efecto de neon morado bastante guapo*/
    border: 3px linear-gradient(90deg,#841296 0%, #a119b6 20%, #922020 75%);
    cursor: pointer;
}

 .menu-btn-container .btn2{
    width: 70%;
 }

#back{
    margin:2% 0% 2% 2%;
}

/*---------Estilo de error de localización---------*/
.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error{
    max-width: 25%;
    height: auto;
}

.error-msg-container{
    height: 50vh;
    background: #181a1b;
    border-radius: 10px;
    margin: 0% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*---------Estilo de a-domicilio-2---------*/
.txt{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.txt h2{
    font-size: 1.8rem;
    margin:0;
}
.main-displayer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 26, 27, 0.65);
    color:#e8e6e3;
    border-radius: 10px;
    margin: 4% 4% 4% 4%;
    padding: 4% 7% 4% 7%;
}
.imagenPeru{
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.msgCarta{
    margin-left: 7%;
}
.msgCarta p{
    font-size: 1rem;
    margin: 0;
}
.msgCarta a{
    text-decoration: none;
    color: rgb(173, 46, 173);
}
.msgCarta a:hover{
    text-decoration: underline;
}
.aumentar,
.disminuir{
    display: flex;
    height: 10%;
    padding: 10px;
    background-color: rgba(24, 26, 27, 0.65);
    color: #e8e6e3;
    border-radius: 10px;
    border: 1px solid transparent;
    
}
.aumentar:hover,
.disminuir:hover{
    background-color: #181a1b;
    border:1px solid #e8e6e3;
    cursor: pointer;
}

.cantidad{
    margin:15px;
    color: #e8e6e3;
}
.cantidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 10px 0px 10px;
}
.precios{
    display:block;
    color: #e8e6e3;
    padding-bottom:30px;
    margin: 0px 10px 0px 0px;
    overflow:visible
}
.total{
    padding-top: 50px;
}

.pasar-a-pago{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 26, 27, 0.65);
    color: #e8e6e3;
    border-radius: 10px;
    margin: 4% 4% 4% 4%;
    padding: 4% 7% 4% 7%;
    text-decoration: none;
    transition: all 0.3s ease;
}

.ir-a-pago{
    text-decoration: none;
    color: #e8e6e3;
    background-color: rgba(24, 26, 27, 0.65);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

/*---------Estilo de pago---------*/

.payment-form{
    margin: 0px 36px 0px 0px;
    flex:1;
}

.nombre-numero{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fecha-cvv{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nombre,
.mes{
    margin: 0px 30px 0px 0px;
    flex: 1;
}

.numero,
.año{
    margin: 0px 0px 0px 30px;
    flex: 1;
}
.cvv-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    width: 100%;

}
.cvv-container img{
    border-radius: 0px;
    margin-top: 10px;

}
.cvv{
    display: inline-block;
    max-width: 60px;
}

#pagar{
    margin-left: 4%;
}

/*---------Estilo de reserva-1---------*/
.fecha-hora{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 36px 0px 0px;
}

.fecha{
    margin: 0px 30px 0px 0px;
    flex: 1;
}

.hora{
    margin: 0px 0px 0px 30px;
    flex: 1;
}

#confirmar-reserva{
    margin-left: 4%;
}








/*---------Estilo de movil---------*/

@media (max-width: 500px) {
    p {
        font-size: 1.7rem;
    }


    .buttons-container {
        visibility: hidden;
    }
    .hamburger-menu {
        /*  FIXME IMPLEMENTAR*/
        visibility: visible;
    }
    .videos-container img{
        display: none;
    }
    .videos-container video {
        width: 100%;
    }
    .text-section{
        flex-direction: column;
    }
    .section-title-container{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .section-title-container img{
        height: 20vh;
    }
    .text-container{
        width: 100%;
    }
    .menu-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .menu-header h2{
        text-align: center;
        font-size: 3rem;
    }
    .dish-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    }
    .dish-description{
        grid-row: 1;
    }
    .dish-description canvas{
        display: none;
    }
    .dish-image{
        grid-row: 2;
    }
    .menu-btn-container{
        width: 100%;
        grid-template-columns: max-content;
        grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    }

    .btn2{
        height: 5vh;
        width: 100%;
        background: linear-gradient(90deg,#841296 0%, #a119b6 20%, #922020 75%);
        border: 3px solid #181a1b;
        font-size: 1.2rem;
    }
    footer{
        min-height: 0vh;
        height: fit-content;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    }
    .footer-refs{
        flex-direction: row;
        grid-row: 1;
        grid-column: span 2;
        justify-content: space-between;
    }
    .footer-refs a{
        flex-grow: 1;
    }

    .footer-img{
        grid-row: 3;
        height: 10vh;
    }
    .footer-img img{
        height: 10vh;
    }
    .footer-text{
        grid-row: 2;
    }
    

}