@media screen and (max-width: 768px) {

    h2{
        font-size: 8.8vw;
    }

    .section-title-container h2{
        font-size: 7vw;
    }
    .buttons-container
    {
       display: none;
    }

    #menu_de_hamburguesa_container{
        height: fit-content;
        width: 100%;
        position: fixed;
        display: flex !important;
        float: right;
        align-items: center;
        justify-content: right;
        z-index: 10;
    }

    #menu_de_hamburguesa_container img{
        height: 7vh;
        width: 7vh;
    }

    .menu_de_hamburguesa{
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        font-family: 'carlmarx';   
        font-size: 100%;
        margin: 0%;
        border-radius: 20px;
    }

    .hide {
        max-height: 20em !important;
    }

    .menu_de_hamburguesa .title{
        width: fit-content;
        margin: .3em .3em .3em .3em;	
    }
    
    .menu_de_hamburguesa .opciones_menu{
        transition: max-height .5s ease-out;
        max-height: 0;
        width: 50%;
        position: fixed;
        overflow: hidden;
        top: 75px
    }
    
    .menu_de_hamburguesa .opciones_menu .option{
        font-size: 5vw;
        color:#000000;
        background: linear-gradient(90deg,#B136C5 0%,#A73030 35%, #B06002 65%, #9F1616 100%); /* Morado-Rojo-Naranja */
        border: 3px solid white;
        margin: 1%;
    }
    
    .menu_de_hamburguesa .opciones_menu .option:hover{
        background: linear-gradient(100deg,#8d79e0 0%, #9167A0 60%, #B85F2C 100%);
        cursor: pointer;
    }

    .pointerCursor:hover{
        cursor: pointer;
    }

    #option1 img,
    #option2 img{
        padding-left: 1vh;
        padding-top: 1vh;
        margin-right: 2vh;
        height: 7vw;
        width: 7vw;
        border-radius: 0px;
    }

    .footer-text p{
        font-size: 4vw;
    }

    .footer-refs a{
        font-size: 5vw;
    }
    .menu-section{
        justify-content: center;
    }
    .country-container h3{
        font-size: 15vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-btn-container{
        width: auto;
    }
    .menu-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

}